* {
    margin: 0;
    padding: 0;
}
html, body {
    font-family: sans-serif, Arial;
}
h1 {
    color: red;
    background: mediumseagreen;
}
.word {
    display: grid;
    grid-template-columns: repeat(5, 25px);
    gap: 5px;
    background: beige;
    border-radius: 5px;
    width: 145px;
    padding: 10px;
}
.letter {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}
.letter__empty {
    background: lightgrey;
}
.letter__wrong {
    background: grey;
}
.letter__present {
    background: #eeee3d;
}
.letter__correct {
    background: green;
}